<!-- <p>{{fairObj|json}}</p> -->
<div class="fair">
    <figure class="banner"
    [ngStyle]="{ 'background-image': 'linear-gradient(0deg,black 10%, transparent),url('+ fairObj.bannerUrl + ')'}"
    >
        
        <!-- <img [src]="fairObj.bannerUrl" [title]="fairObj.fairName" [alt]="fairObj.fairName"> -->
        <figcaption class="text-white font-weight-bold">
            <h3 class="mb-2">{{fairObj.fairName}}</h3>
            <p class="mb-1">Event Type:{{fairObj.type}}</p>
            <p class="mb-1">Registration Deadline: {{((fairObj.startDate*1000)-86400000)|date}}</p>
        </figcaption>
    </figure>
    <p [innerHTML]="fairObj.candidateDescription"></p>
    <p [innerHTML]="fairObj.schoolDescription"></p>
</div>