<main class="main">
    <div class="card">
        <div class="card-body">
            <ng-container *ngIf="allreadyHasAccount">
                <!-- loginform -->
                 <h2>LogIn</h2>
                 <form [formGroup]="loginForm"(ngSubmit)="onLogin()">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input id="email" type="text" formControlName="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input id="password" type="text" formControlName="password" class="form-control">
                    </div>
                    <button mat-raised-button color="primary" class="btn btn-block">LogIn</button>
                 </form>
                 <!-- <a href="javascript:;" 
                 (click)="allreadyHasAccount =!allreadyHasAccount"
                 class="btn btn-link">Dont Have Account Yet</a> -->
            </ng-container>
            <ng-container *ngIf="!allreadyHasAccount">
                <!-- signin Form-->
                 <h2>SignUp</h2>
                 <form [formGroup]="signUpForm">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input id="email" type="text" formControlName="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input id="password" type="text" formControlName="password" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="confirmpassword">Confirm Password</label>
                        <input id="confirmpassword" type="text" formControlName="confirmpassword" class="form-control">
                    </div>
                    <button mat-raised-button color="primary" class="btn btn-block">SignUp</button>
                 </form>
                 <!-- <a href="javascript:;" 
                 (click)="allreadyHasAccount =!allreadyHasAccount"
                 class="btn btn-link">Already Have Account</a> -->
            </ng-container>
            <hr>
            <a href="javascript:;" 
            (click)="allreadyHasAccount =!allreadyHasAccount"
            class="btn btn-link">{{allreadyHasAccount ? 'Dont Have Account' :'Already Have Account' }}</a>
        </div>
    </div>
</main>
